In [23]:
import pandas as pd

In [24]:
df=pd.read_csv('rating.csv')

In [25]:
df

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral
1,81667,NaN,CNA,NaN,nice claim top spot in ligue 1 with late win a...,Nice moved into provisional first place in the...,https://www.channelnewsasia.com/sport/nice-cla...,https://onecms-res.cloudinary.com/image/upload...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,nice moved into provisional first place in the...,Positive
2,81694,time,Time,Christina Larson / AP,amphibians are the world’s most vulnerable spe...,"The world’s frogs, salamanders, newts, and oth...",https://time.com/6320467/amphibians-most-vulne...,https://api.time.com/wp-content/uploads/2023/1...,2023-10-04 17:36:18.000000,"The worlds frogs, salamanders, newts and other...",Madagascar,"the world’s frogs, salamanders, newts and othe...",Negative
3,81695,NaN,Phys.Org,Sara Schmidt,image: rusty red waters in madagascar,Iron-rich sediment colors the red-orange water...,https://phys.org/news/2023-10-image-rusty-red-...,https://scx2.b-cdn.net/gfx/news/2023/image-rus...,2023-10-31 18:04:02.000000,Iron-rich sediment colors the red-orange water...,Madagascar,iron-rich sediment colors the red-orange water...,Neutral
4,81703,NaN,Digital Trends,Jason Struss,everything leaving max (formerly hbo max) in n...,From Gangs of London to Fear the Walking Dead ...,https://www.digitaltrends.com/movies/everythin...,https://www.digitaltrends.com/wp-content/uploa...,2023-10-23 23:09:18.000000,"Everything ends. No, I’m not having an existen...",Madagascar,"everything ends. no, i’m not having an existen...",Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58351,781108,NaN,The Indian Express,PTI,"Have done no wrong, only did party work, says ...",The High Court today allowed Shivakumar to wit...,https://indianexpress.com/article/cities/banga...,https://images.indianexpress.com/2023/11/DK-Sh...,2023-11-29 10:57:22,Karnataka Deputy Chief Minister D K Shivakumar...,Home,Karnataka Deputy Chief Minister D K Shivakumar...,Neutral
58352,781129,NaN,Forbes,"Tom Sanderson, Senior Contributor, \n Tom Sand...",FC Barcelona Guarantees $77.6 Million Champion...,FC Barcelona have guaranteed at least $77.6 mi...,https://www.forbes.com/sites/tomsanderson/2023...,https://imageio.forbes.com/specials-images/ima...,2023-11-29 08:41:18,FC Barcelona have guaranteed at least $767.6 m...,Home,FC Barcelona have guaranteed at least $767.6 m...,Neutral
58353,781235,NaN,NPR,Brigid McCarthy,Three hospitals ignored her gravely ill fiancé...,"Forty years ago, Sarah Lubarsky came home from...",https://www.npr.org/2023/11/29/1215016001/heal...,https://media.npr.org/assets/img/2023/11/23/sa...,2023-11-29 10:01:12,The photo from David and Sarah Lubarsky's wedd...,Home,The photo from David and Sarah Lubarsky's wedd...,Negative
58354,781240,NaN,Forbes,"Gary Stern, Contributor, \n Gary Stern, Contri...",Kerber’s Farm: Bringing Farm To Table To Manha...,"A farmstand in Long Island, Kerber’s Farms has...",https://www.forbes.com/sites/garystern/2023/11...,https://imageio.forbes.com/specials-images/ima...,2023-11-29 13:44:33,Kerbers Farm: Bringing Farm To Table To Manhat...,Home,Kerber’s Farm: Bringing Farm To Table To Manha...,Neutral
58355,781308,NaN,Forbes,"Johan Hajji, Forbes Councils Member, \n Johan ...",Tips For Investing In Short-Term Rentals In Dubai,By exploring your options and keeping a few be...,https://www.forbes.com/sites/forbesbusinesscou...,https://imageio.forbes.com/specials-images/ima...,2023-11-29 14:00:00,Cofounder at UpperKey. Passionate about proper...,Home,Cofounder at UpperKey. Passionate about proper...,Neutral

In [26]:
from urllib.parse import urlparse

def extract_domain(url):
    domain = urlparse(url).netloc
    return domain
df['domain'] = df['url'].apply(extract_domain)
domain_counts = df['domain'].value_counts()
print(domain_counts)

domain
www.etfdailynews.com                16746
www.globenewswire.com                5423
economictimes.indiatimes.com         5310
www.globalsecurity.org               3119
www.forbes.com                       2784
timesofindia.indiatimes.com          2194
abcnews.go.com                       2058
www.businessinsider.com              2034
www.bbc.co.uk                        2032
punchng.com                          1800
www.aljazeera.com                    1664
www.marketscreener.com               1362
phys.org                             1263
www.ibtimes.com                      1207
indianexpress.com                    1176
www.rt.com                           1128
www.npr.org                           981
deadline.com                          932
www.digitaltrends.com                 784
boingboing.net                        713
www.channelnewsasia.com               652
time.com                              600
www.androidcentral.com                522
gizmodo.com                           388
readwrite.com                         324
www.euronews.com                      286
www.wired.com                         270
www.cnn.com                           267
www.theverge.com                      214
www.bbc.com                            81
allafrica.com                          20
cnalifestyle.channelnewsasia.com       18
cnaluxury.channelnewsasia.com           4
Name: count, dtype: int64

In [27]:
website_counts = df['domain'].value_counts()

In [28]:
top_10_websites = website_counts.head(10)

In [29]:
top_10_websites

domain
www.etfdailynews.com            16746
www.globenewswire.com            5423
economictimes.indiatimes.com     5310
www.globalsecurity.org           3119
www.forbes.com                   2784
timesofindia.indiatimes.com      2194
abcnews.go.com                   2058
www.businessinsider.com          2034
www.bbc.co.uk                    2032
punchng.com                      1800
Name: count, dtype: int64

In [30]:
bottom_10_websites = website_counts.tail(10)

In [31]:
bottom_10_websites

domain
gizmodo.com                         388
readwrite.com                       324
www.euronews.com                    286
www.wired.com                       270
www.cnn.com                         267
www.theverge.com                    214
www.bbc.com                          81
allafrica.com                        20
cnalifestyle.channelnewsasia.com     18
cnaluxury.channelnewsasia.com         4
Name: count, dtype: int64

In [32]:
highest_visitors= df.groupby('domain').size().reset_index(name='article')

In [33]:
sort_highest_visitors=highest_visitors.sort_values(by='article', ascending=False)

In [34]:
sort_highest_visitors.head(10)

                          domain  article
22          www.etfdailynews.com    16746
26         www.globenewswire.com     5423
6   economictimes.indiatimes.com     5310
25        www.globalsecurity.org     3119
24                www.forbes.com     2784
13   timesofindia.indiatimes.com     2194
0                 abcnews.go.com     2058
18       www.businessinsider.com     2034
16                 www.bbc.co.uk     2032
10                   punchng.com     1800

In [35]:
sort_highest_visitors.tail(10)

                              domain  article
7                        gizmodo.com      388
11                     readwrite.com      324
23                  www.euronews.com      286
32                     www.wired.com      270
20                       www.cnn.com      267
31                  www.theverge.com      214
17                       www.bbc.com       81
1                      allafrica.com       20
3   cnalifestyle.channelnewsasia.com       18
4      cnaluxury.channelnewsasia.com        4

In [36]:
country_domain_counts = df.groupby('source_name')['domain'].nunique().reset_index(name='Media Organization Count')

In [37]:
sorted_counts = country_domain_counts.sort_values(by='Media Organization Count', ascending=False)

In [38]:
sorted_counts.head(10)

           source_name  Media Organization Count
7                  CNA                         3
4             BBC News                         2
25  The Times of India                         2
0             ABC News                         1
16       GlobeNewswire                         1
27                Time                         1
26           The Verge                         1
24           The Punch                         1
23  The Indian Express                         1
22           ReadWrite                         1

In [39]:
sorted_counts.tail(10)

                    source_name  Media Organization Count
12                     Euronews                         1
11               ETF Daily News                         1
10               Digital Trends                         1
9                      Deadline                         1
8                           CNN                         1
6              Business Insider                         1
5                   Boing Boing                         1
3               Android Central                         1
2   AllAfrica - Top Africa News                         1
28                        Wired                         1

In [40]:
# definign countries
african_countries = ["Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cabo Verde", "Cameroon", "Central African Republic", "Chad", "Comoros", "Congo (Brazzaville)", "Congo (Kinshasa)", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "Sao Tome and Principe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe"]
us = ["United States", "USA", "U.S.", "US", "America"]
china = ["China"]
eu_countries = ["Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden"]
russia = ["Russia"]
ukraine = ["Ukraine"]
middle_east_countries = ["Bahrain", "Iran", "Iraq", "Israel", "Jordan", "Kuwait", "Lebanon", "Oman", "Palestine", "Qatar", "Saudi Arabia", "Syria", "Turkey", "United Arab Emirates", "Yemen"]
countries_of_interest = african_countries + us + china + eu_countries + russia + ukraine + middle_east_countries
filtered_df = df[df['content'].str.contains('|'.join(countries_of_interest), na=False, case=False)]
websites = filtered_df['source_name'].unique()
print("Websites that reported news content about Africa, US, China, EU, Russia, Ukraine, and the Middle East:")
for website in websites:
    print(website)

C:\Users\mesfi\AppData\Local\Temp\ipykernel_32\3381804366.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = df[df['content'].str.contains('|'.join(countries_of_interest), na=False, case=False)]

Websites that reported news content about Africa, US, China, EU, Russia, Ukraine, and the Middle East:
Time
Phys.Org
Al Jazeera English
BBC News
Euronews
RT
The Punch
CNA
The Indian Express
ABC News
Globalsecurity.org
Marketscreener.com
The Times of India
Forbes
CNN
Business Insider
GlobeNewswire
Wired
Gizmodo.com
The Verge
NPR
Boing Boing
Deadline
Digital Trends
Android Central
International Business Times
ETF Daily News
ReadWrite
AllAfrica - Top Africa News